body{
    background-color: #073b4c;
    color: white;
}
.navbar-default {
  background-color:#ef476f;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  color: white;
 }
 .navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    
}

td{
    font-size: 200%;
}

tr:nth-child(even) {
    background-color: #06d6a0;
}